<%= form_with(model: picture, url:confirm_pictures_path, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="signupform">
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div><br>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
