<h2>Send with the following contents.</h2>
    <%= form_with(model: @picture,url: pictures_path, local: true) do |form| %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :content %>
      <%= form.hidden_field :image_cache %>
      <p class="showp">Content:<%= @picture.content %></p>
      <p class="showp">
        <strong>Picture:</strong>
        <%= image_tag @picture.image.url if @picture.image? %>
      </p>
      <%= form.submit  "Post" %>
      <%= form.submit "Back", name: 'back' %>
    <% end %>
